body {
  .sny-button {
    padding: 0px 16px;
    height: 32px;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    $color-success: #237804;
    $color-cyan: #006d75;
    $color-primary: #0050b3;
    $color-secondary: #6b7588;
    $color-danger: #b10015;

    $color-success-hover: #389e0d;
    $color-cyan-hover: #08979c;
    $color-primary-hover: #096dd9;
    $color-secondary-hover: #8f90a6;
    $color-danger-hover: #cf1322;
    transition: 0.3s;

    &:active {
      animation: jump 0.5s ease;
    }

    a {
      color: inherit;
    }

    &.circle {
      width: 28px;
      height: 28px;
      padding: 0;
      border-radius: 50%;
      border-color: $neutral-8 !important;

      .anticon {
        font-size: 16px;
        color: $neutral-8 !important;
      }

      &.sm {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      &.xs {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        .anticon {
          font-size: 11px;
        }
      }

      &.edit,
      &.view,
      &.message,
      &.video,
      &.audio,
      &.image,
      &.retweet,
      &.service,
      &.plus,
      &.api,
      &.setting {
        @extend .blue-hover;
      }

      &.delete {
        @extend .red-hover;
      }

      &.blue-hover {
        &:hover {
          border-color: $daybreak-blue-8 !important;
          .anticon {
            color: $daybreak-blue-8 !important;
          }
        }
      }

      &.red-hover {
        &:hover {
          border-color: $dust-red-7 !important;
          .anticon {
            color: $dust-red-7 !important;
          }
        }
      }
    }

    &.lg {
      height: 40px;
    }

    &.sm {
      height: 22px;
      border-radius: 2px;
      font-size: 12px;
    }

    &.success {
      background-color: $color-success;
      border: 1px solid #228100;
      &:hover {
        background-color: $color-success-hover;
        border: 1px solid $color-success;
      }
    }

    &.cyan {
      background-color: $color-cyan;
      border: 1px solid $color-cyan;
      &:hover {
        background-color: $color-cyan-hover;
      }
    }

    &.primary {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      &:hover {
        background-color: $color-primary-hover;
      }
    }

    &.secondary {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
      &:hover {
        background-color: $color-secondary-hover;
      }
    }

    &.danger {
      background-color: $color-danger;
      border: 1px solid $color-danger;
      &:hover {
        background-color: $color-danger-hover;
      }
    }

    &.default {
      border: 1px solid #d9d9d9;
      color: #000000a6;
      background-color: white;
    }

    &.icon-button {
      width: 32px;
      height: 32px;
      padding: 0;
      align-items: center;
      justify-content: center;
    }

    &.disabled {
      background-color: #f5f5f5;
      border: 1px solid #d9d9d9;
      color: #00000040;
      cursor: not-allowed;
    }
  }
}
