@keyframes jump {
  0% {
    transform: translate3d(0, 5%, 0);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

body .sny-button {
  padding: 0px 16px;
  height: 32px;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sny-button:active {
  animation: jump 0.5s ease;
}
body .sny-button a {
  color: inherit;
}
body .sny-button.circle {
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 50%;
  border-color: #595959 !important;
}
body .sny-button.circle .anticon {
  font-size: 16px;
  color: #595959 !important;
}
body .sny-button.circle.sm {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
body .sny-button.circle.xs {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
body .sny-button.circle.xs .anticon {
  font-size: 11px;
}
body .sny-button.circle.blue-hover:hover,
body .sny-button.circle.edit:hover,
body .sny-button.circle.view:hover,
body .sny-button.circle.message:hover,
body .sny-button.circle.video:hover,
body .sny-button.circle.audio:hover,
body .sny-button.circle.image:hover,
body .sny-button.circle.retweet:hover,
body .sny-button.circle.service:hover,
body .sny-button.circle.plus:hover,
body .sny-button.circle.api:hover,
body .sny-button.circle.setting:hover {
  border-color: #0050b3 !important;
}
body .sny-button.circle.blue-hover:hover .anticon,
body .sny-button.circle.edit:hover .anticon,
body .sny-button.circle.view:hover .anticon,
body .sny-button.circle.message:hover .anticon,
body .sny-button.circle.video:hover .anticon,
body .sny-button.circle.audio:hover .anticon,
body .sny-button.circle.image:hover .anticon,
body .sny-button.circle.retweet:hover .anticon,
body .sny-button.circle.service:hover .anticon,
body .sny-button.circle.plus:hover .anticon,
body .sny-button.circle.api:hover .anticon,
body .sny-button.circle.setting:hover .anticon {
  color: #0050b3 !important;
}
body .sny-button.circle.red-hover:hover,
body .sny-button.circle.delete:hover {
  border-color: #cf1322 !important;
}
body .sny-button.circle.red-hover:hover .anticon,
body .sny-button.circle.delete:hover .anticon {
  color: #cf1322 !important;
}
body .sny-button.lg {
  height: 40px;
}
body .sny-button.sm {
  height: 22px;
  border-radius: 2px;
  font-size: 12px;
}
body .sny-button.success {
  background-color: #237804;
  border: 1px solid #228100;
}
body .sny-button.success:hover {
  background-color: #389e0d;
  border: 1px solid #237804;
}
body .sny-button.cyan {
  background-color: #006d75;
  border: 1px solid #006d75;
}
body .sny-button.cyan:hover {
  background-color: #08979c;
}
body .sny-button.primary {
  background-color: #0050b3;
  border: 1px solid #0050b3;
}
body .sny-button.primary:hover {
  background-color: #096dd9;
}
body .sny-button.secondary {
  background-color: #6b7588;
  border: 1px solid #6b7588;
}
body .sny-button.secondary:hover {
  background-color: #8f90a6;
}
body .sny-button.danger {
  background-color: #b10015;
  border: 1px solid #b10015;
}
body .sny-button.danger:hover {
  background-color: #cf1322;
}
body .sny-button.default {
  border: 1px solid #d9d9d9;
  color: #000000a6;
  background-color: white;
}
body .sny-button.icon-button {
  width: 32px;
  height: 32px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
body .sny-button.disabled {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  color: #00000040;
  cursor: not-allowed;
}

body .sny-tabs {
  width: 100%;
  display: flex;
}
body .sny-tabs .tab {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-bottom: 2px solid #d9dbea;
  color: #2a2565;
  cursor: pointer;
}
body .sny-tabs .tab .ant-space,
body .sny-tabs .tab .ant-space-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .sny-tabs .tab:hover {
  background-color: #f0f5ff;
}
body .sny-tabs .tab-active {
  background-color: #f0f5ff;
  border-bottom: 2px solid #2a2565;
  animation: jump 0.5s ease;
}

body .sny-status {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 12px;
  min-width: 84px;
  cursor: pointer;
}
body .sny-status.base {
  all: unset;
}
body .sny-status.w-148 {
  min-width: 148px;
}
body .sny-status.orange {
  color: #ad4e00;
  background-color: #fff7e6;
  border: 1px solid #ad4e00;
}
body .sny-status.base-orange {
  color: #ad4e00;
}
body .sny-status.red {
  color: #a8071a;
  background-color: #fff1f0;
  border: 1px solid #a8071a;
}
body .sny-status.base-red {
  color: #a8071a;
}
body .sny-status.blue {
  color: #1d39c4;
  background-color: #f0f5ff;
  border: 1px solid #1d39c4;
}
body .sny-status.base-blue {
  color: #1d39c4;
}
body .sny-status.cyan {
  color: #006d75;
  background-color: #e6fffb;
  border: 1px solid #006d75;
}
body .sny-status.base-cyan {
  color: #006d75;
}
body .sny-status.purple {
  color: #722ed1;
  background-color: #f9f0ff;
  border: 1px solid #722ed1;
}
body .sny-status.base-purple {
  color: #722ed1;
}
body .sny-status.green {
  color: #135200;
  background-color: #f6ffed;
  border: 1px solid #135200;
}
body .sny-status.base-green {
  color: #135200;
}
