@import './color';
@import './layout.scss';
@import './button.scss';
@import './tabs.scss';
@import './status.scss';
@import './common.scss';

@keyframes jump {
  0% {
    transform: translate3d(0, 5%, 0);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.border{
  background-color:#f0f0f0;
  padding:4px;
  border-radius: 4px ;
  border: 1px solid $logo-snappy;
}
