@import './color';
@import './layout.scss';
@import './button.scss';
@import './tabs.scss';
@import './status.scss';
@import './inputOtp.scss';
@import './card.scss';
@import './template/template.scss';

@keyframes jump {
  0% {
    transform: translate3d(0, 5%, 0);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.example {
  &.border {
    background-color: $geek-blue-1;
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
    border: 1px solid $logo-snappy;
  }
}
