$geek-blue-8: #10239e;
$geek-blue-7: #1d39c4;
$geek-blue-4: #85a5ff;
$geek-blue-3: #adc6ff;
$geek-blue-2: #d6e4ff;
$geek-blue-1: #f0f5ff;

$daybreak-blue-9: #003a8c;
$daybreak-blue-8: #0050b3;
$daybreak-blue-7: #096dd9;
$daybreak-blue-6: #1890ff;
$daybreak-blue-3: #91d5ff;
$daybreak-blue-1: #e6f7ff;

$polar-green-8: #237804;
$polar-green-7: #389e0d;
$polar-green-4: #95de64;
$polar-green-1: #f6ffed;

$gray-6: #a7afb2;
$gray-5: #3a3a3c;

$neutral-10: #262626;
$neutral-9: #434343;
$neutral-8: #595959;
$neutral-7: #8c8c8c;
$neutral-6: #bfbfbf;
$neutral-5: #d9d9d9;
$neutral-4: #f0f0f0;
$neutral-3: #f5f5f5;

$dust-red-8: #a8071a;
$dust-red-7: #cf1322;
$dust-red-6: #f5222d;
$dust-red-3: #ffa39e;
$dust-red-1: #fff1f0;

$volcano-7: #d4380d;
$volcano-3: #ffbb96;
$volcano-1: #fff2e8;

$calendula-gold-7: #d48806;
$calendula-gold-4: #ffd666;

$sunset-orange-7: #d46b08;
$sunset-orange-1: #fff7e6;

$cyan-9: #00474f;
$cyan-8: #006d75;
$cyan-1: #e6fffb;

$logo-snappy: #2a2565;

@keyframes jump {
  0% {
    transform: translate3d(0, 5%, 0);
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

body {
  .sny-button {
    padding: 0px 16px;
    height: 32px;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    $color-success: #237804;
    $color-cyan: #006d75;
    $color-primary: #0050b3;
    $color-secondary: #6b7588;
    $color-danger: #b10015;

    $color-success-hover: #389e0d;
    $color-cyan-hover: #08979c;
    $color-primary-hover: #096dd9;
    $color-secondary-hover: #8f90a6;
    $color-danger-hover: #cf1322;

    &:active {
      animation: jump 0.5s ease;
    }

    a {
      color: inherit;
    }

    &.circle {
      width: 28px;
      height: 28px;
      padding: 0;
      border-radius: 50%;
      border-color: $neutral-8 !important;

      .anticon {
        font-size: 16px;
        color: $neutral-8 !important;
      }

      &.sm {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      &.xs {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        .anticon {
          font-size: 11px;
        }
      }

      &.edit,
      &.view,
      &.message,
      &.video,
      &.audio,
      &.image,
      &.retweet,
      &.service,
      &.plus,
      &.api,
      &.setting {
        @extend .blue-hover;
      }

      &.delete {
        @extend .red-hover;
      }

      &.blue-hover {
        &:hover {
          border-color: $daybreak-blue-8 !important;
          .anticon {
            color: $daybreak-blue-8 !important;
          }
        }
      }

      &.red-hover {
        &:hover {
          border-color: $dust-red-7 !important;
          .anticon {
            color: $dust-red-7 !important;
          }
        }
      }
    }

    &.lg {
      height: 40px;
    }

    &.sm {
      height: 22px;
      border-radius: 2px;
      font-size: 12px;
    }

    &.success {
      background-color: $color-success;
      border: 1px solid #228100;
      &:hover {
        background-color: $color-success-hover;
        border: 1px solid $color-success;
      }
    }

    &.cyan {
      background-color: $color-cyan;
      border: 1px solid $color-cyan;
      &:hover {
        background-color: $color-cyan-hover;
      }
    }

    &.primary {
      background-color: $color-primary;
      border: 1px solid $color-primary;
      &:hover {
        background-color: $color-primary-hover;
      }
    }

    &.secondary {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
      &:hover {
        background-color: $color-secondary-hover;
      }
    }

    &.danger {
      background-color: $color-danger;
      border: 1px solid $color-danger;
      &:hover {
        background-color: $color-danger-hover;
      }
    }

    &.default {
      border: 1px solid #d9d9d9;
      color: #000000a6;
      background-color: white;
    }

    &.icon-button {
      width: 32px;
      height: 32px;
      padding: 0;
      align-items: center;
      justify-content: center;
    }

    &.disabled {
      background-color: #f5f5f5;
      border: 1px solid #d9d9d9;
      color: #00000040;
      cursor: not-allowed;
    }
  }

  .sny-tabs {
    width: 100%;
    display: flex;

    $color-key: #2a2565;

    .tab {
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      border-bottom: 2px solid #d9dbea;
      color: $color-key;

      .ant-space,
      .ant-space-item {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      cursor: pointer;
      &:hover {
        background-color: #f0f5ff;
      }
    }

    .tab-active {
      background-color: #f0f5ff;
      border-bottom: 2px solid $color-key;
      animation: jump 0.5s ease;
    }
  }

  .sny-status {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 12px;
    min-width: 84px;

    &.base {
      all: unset;
    }

    &.w-148 {
      min-width: 148px;
    }

    &.orange {
      $color: #ad4e00;
      color: $color;
      background-color: #fff7e6;
      border: 1px solid $color;
    }

    &.base-orange {
      color: #ad4e00;
    }

    &.red {
      $color: #a8071a;
      color: $color;
      background-color: #fff1f0;
      border: 1px solid $color;
    }

    &.base-red {
      color: #a8071a;
    }

    &.blue {
      $color: #1d39c4;
      color: $color;
      background-color: #f0f5ff;
      border: 1px solid $color;
    }

    &.base-blue {
      color: #1d39c4;
    }

    &.cyan {
      $color: #006d75;
      color: $color;
      background-color: #e6fffb;
      border: 1px solid $color;
    }

    &.base-cyan {
      color: #006d75;
    }

    &.purple {
      $color: #722ed1;
      color: $color;
      background-color: #f9f0ff;
      border: 1px solid $color;
    }

    &.base-purple {
      color: #722ed1;
    }

    &.green {
      $color: #135200;
      color: $color;
      background-color: #f6ffed;
      border: 1px solid $color;
    }

    &.base-green {
      color: #135200;
    }
  }
}
